<section class="space-y-5 mx-5">
  <dl class="grid grid-cols-3 gap-3">
    <div class="">
      <dd class="text-xl font-semibold">{{ project.models_count }}</dd>
			<dt class="text-xs text-zinc-500">Моделей</dt>
    </div>
    <div class="">
      <dd class="text-xl font-semibold">{{ project.sources_count }}</dd>
      <dt class="text-xs text-zinc-500">Источников</dt>
    </div>
    <div class="">
      <dd class="text-xl font-semibold">{{ project.tests_count }}</dd>
      <dt class="text-xs text-zinc-500">Тестов</dt>
    </div>
  </dl>
</section>
