@layer components {
  .btn {
    @apply rounded border border-zinc-700 bg-zinc-900 px-3 py-2 text-sm text-zinc-100 hover:border-cyan-500 hover:text-cyan-200;
  }

  .partition-years {
    @apply flex flex-col gap-8;
  }

  .partition-month-grid {
		@apply grid gap-3;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .partition-month {
    @apply flex flex-col gap-1.5;
  }

  .partition-days {
		@apply grid grid-cols-7 gap-1;
  }

  .partition-day-spacer {
		@apply size-2.5;
  }

  .partition-day {
		@apply size-2.5 rounded-full border border-green-500;
  }

  .partition-day-empty {
		@apply bg-stone-500 border-stone-500;
  }

  .partition-day-half {
    background: linear-gradient(-90deg, #16a34a 50%, transparent 50%);
  }

  .partition-day-full {
		@apply bg-green-500;
  }

  @media (min-width: 768px) {
    .partition-month-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1280px) {
    .partition-month-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
